{% extends "header_footer.html" %}
{%load static%}
{% block content %}

    <style>
      body {
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        height: 100vh;
      }

      form {
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 2000px;
        margin: auto;
      }

      .header-content {
        margin: 30px;
        padding: 10px auto;
      }

      h2 {
        text-align: center;
        color: #fff;
        margin: 20px 0;
      }
    </style>

    <!-- Main Content -->
    <section class="apply-now" id="apply">
      <div class="container">
        <h2>Download Contributions</h2>
        <form action="{% url 'download_selected_contributions' %}" method="post">
          <table class="table mt-3">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Contribution Name</th>
                <th scope="col">Files</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% csrf_token %}
              {% for contribution in contributions %}
                <tr>
                    <td>{{ contribution.title }}</td>
                    {% for file in contribution.files.all %}
                    <td>
                      {% if file.word %}
                      <div>
                        <a href="{{ file.word.url }}">Document: {{ file.word.name }}</a>
                      </div>
                      {% else %}
                      <div>
                        <p>Do not have document files</p>
                      </div>
                      {% endif %}
                      {% if file.img %}
                      <div>
                        <a href="{{ file.img.url }}">Image: {{ file.img.name }}</a>
                      </div>
                      {% else %}
                      <div>
                        <p>Do not have image files</p>
                      </div>
                      {% endif %}
                    </td>
                    {% endfor %}
                    <td style="padding: 20px 40px">
                      <input type="checkbox" name="contribution_ids" value="{{ contribution.id }}">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
          <button type="submit" class="btn btn-primary">Download Selected Files</button>
        </form>
      </div>
    </section>

{% endblock content %}
